<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <!-- artifactory: central username -->
            <id>central</id>
            <username>devel</username>
        </server>
        <server>
            <!-- artifactory: snapshot username -->
            <id>snapshots</id>
            <username>devel</username>
        </server>
        <server>
            <!-- artifactory: deploy credentials -->
            <id>list-guidev</id>
            <username>devel</username>
            <password>devel</password>
        </server>
        <server> 
            <!-- ls3 svn server credentials -->
            <id>10.91.195.8</id> 
            <username>l.rossi</username> 
            <password>luca19</password> 
        </server> 
    </servers>
    <profiles>
        <profile>
            <id>artifactory</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <name>libs-release</name>
                    <url>http://10.91.195.8:8081/artifactory/libs-release</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>libs-snapshot</name>
                    <url>http://10.91.195.8:8081/artifactory/libs-snapshot</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                    <id>central</id>
                    <name>plugins-release</name>
                    <url>http://10.91.195.8:8081/artifactory/plugins-release</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>plugins-snapshot</name>
                    <url>http://10.91.195.8:8081/artifactory/plugins-snapshot</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>
